<li>
	{{item}}

	<button class="change-basket" data-id="{{id}}" data-in-basket="{{in_basket}}">
		{{#if in_basket}}Remove from basket{{else}}In basket{{/if}}
	</button>
	<button class="delete-grocery" data-id="{{id}}">
		Delete
	</button>
</li>
